In [7]:

y=2
z=2
id(x)
print(id(y),id(x))

140735102199616 140735102199616

In [8]:
x=3
print(id(x))

140735102199648

In [11]:
PI=9
print(PI)

9

In [13]:
#variables is like a container  where we can put our value
var1 = "hello world"
var2 = 4
var3 =36.7 #python intellginet automaticaly give the type to the variale
print(type(var1),type(var2),type(var3))

<class 'str'> <class 'int'> <class 'float'>

In [28]:
x=2
y=3
z=x+y
a=x-y
b=x/3
c=x%y
d=x*y
e=x**y

In [14]:
var4=var2+var3
print(type(var4))

<class 'float'>

In [15]:
v="65"
b="98"
print(v+b)

6598

In [22]:
#typecast
vint=int(v)
bint=int(b)
# v3=str(vint+bint)
v3=float(vint+bint)
print(type(v3),v3)

<class 'float'> 163.0

In [25]:

print(v)
print(v*3)
print(int(v)*3)

65
656565
195

In [30]:

x=True
print(type(x))

<class 'bool'>

In [44]:
y=False
print(float(y))
print(int(x))

# inp = input() # take input as string we cane type cast to convert

0.0
1

In [51]:
#strings
name="vaishali "
sname="kashyap"
fname=name+sname
print(name)
print(sname)

vaishali
kashyap

In [52]:
print(name+sname)

vaishali kashyap

In [53]:
fname[2]

'i'

In [65]:
print(fname[8])
print(fname[-1])
print(fname[-4])
print(fname[0:6])#exclusive 6 including 0
print(fname[4:9])
print(fname[2:])
print(fname[:8])
print(fname[::])#print full
print(fname[::-1])
print(fname[0:100])# ignore
# fname[8]="k" error: string in python is immutable

p
vaisha
hali
ishali kashyap
vaishali
payhsak ilahsiav
vaishali kashyap

In [67]:
print(fname[::2]) #print after alternative gap 2
print(fname[2:8:2]) #print alternative of string 2 to 8th
length = len(fname)

vihl aha
ihl

In [70]:
s = "hello World!"
print(s.upper())
print(s.lower())
print(s.count("l"))
print(s.count("l", 3))
print(s.count("l", 2))
print(s.count("l", 4))
print(s.startswith("He"))
print(s.endswith("e!"))
print(s.capitalize()) #capital fisrt lttre

HELLO WORLD!
hello world!
3
2
3
1
False
False
Hello world!

In [71]:
operators
a,b=9,4

9 rfkr

In [72]:
#operators : we have seen arthmetic operators lets see some assignment operatos
x = 3
x += 3
x -= 3
x *= 3
x /= 3 #x = x / 3
x //= 3 #gives floor valeu x = x // 3

In [75]:
#comparison operator
x,y=9,8
# x==y
# x != y
x > y
x >= y

True

In [77]:
#logical operators
x < 5 and  x < 10  #&
x < 5 or x < 4     #|
not(x < 5 and x < 10) reverse the result

False

In [79]:
#identity
x=9
y=9
x is y #returns true of both refers to same object

True

In [80]:
#conditional statements #ifelse
age = 65
if age >=18:
    print("can vote")

# if-elif-else structure

# if is mandatory, elif is optional [0, 1, ...N], else is optional [0, 1]
age = 65
# if age > 20:
#     if age > 60:
#         print("Senior")
#     print("Adult")
# elif age > 5:
#     print("Kid")
# else:
#     print("Baby")

NameError: name 'age' is not defined

In [81]:
# Odd, Even problem
num = 6
# print("Odd")
# print("Even")
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [82]:
a, b, c, d = 5, 4, 3, 8
# Find the max - the easy way
if a > b and a > c and a > d:
    print(a)
elif b > a and b > c and b > d:
    print(b)
elif c > a and c > b and c > d:
    print(c)
else:
    print(d)

8

In [83]:
# to check, whether a triangle is equilateral, isosceles, or scalene
if a == b and b == c and c == a:
    print("e")
elif a == b or b == c or c == a:
    print("i")
else:
    print("s")

s

In [84]:
# # print first 100 natural numbers
for i in range(1, 101):
    if i < 100:
        print(i, end=",")
    else:
        print(i)

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100

In [85]:
# print square of first 100 natural numbers
for num in range(1, 101):
    print(num**2, end=",")
print

In [86]:
# print "hello world" 10 times
for i in range(10):
    print("Hello World") #This will print 'Hello World' 10x times and i from 0 to 9 as index initialize from 0
    print(i)

Hello World
0
Hello World
1
Hello World
2
Hello World
3
Hello World
4
Hello World
5
Hello World
6
Hello World
7
Hello World
8
Hello World
9

In [87]:
# multiples of 13 between [100, 200]
for num in range(100, 201):
    if num % 13 == 0:
        print(num, end=",")  #We are using end="," to make the consecutive output in the same line and not next line
print()
print("-"*20)

104,117,130,143,156,169,182,195,
--------------------

In [88]:
num = 7
result = True
for i in range(2, int(num**2)+1):
    if num % i == 0:
        result = False
print(result)

# how to take input from user
output = int(input("Enter  number: "))
print(output*2)

False
Enter  number: 9
18

In [89]:
i = 0
while i<=output:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

In [90]:
#lists : stores a series of items in a particular order . items can be accesse using idex or with loops
marks = [100, 99, 56, 76, 45, 30]
print(marks)
#then show indexing print(marks[-1]) # indexing
b = ["a", 1, "anant", 2.1, True]

[100, 99, 56, 76, 45, 30]

In [91]:
#value assignement
x = 1
marks[1] = 101
print(marks)

#splicing can done 
print(marks[1:5])
print(marks[:5])
print(marks[-3])
print(marks[1::2])
#[7:8:-3] does not work in list

[100, 101, 56, 76, 45, 30]
[101, 56, 76, 45]
[100, 101, 56, 76, 45]
76
[101, 76, 30]

In [94]:
print(marks)
marks.append(33) # inserts the element in the end
marks.append([34,67,43]) #append whole list
#marks.insert(1,67) 1=index 67=valsue
marks.extend([34,45,65]) #just appned the number
print(marks)

[100, 101, 34, 56, 76, 45, 30, 33, [34, 67, 43]]
[100, 101, 34, 56, 76, 45, 30, 33, [34, 67, 43], 33, [34, 67, 43], 34, 45, 65]

In [93]:
# marks.insert(2, 34) #at 2 put 34
# print(marks)

[100, 101, 34, 56, 76, 45, 30, 33, [34, 67, 43]]

In [95]:
marks.remove([34,67,43])

In [96]:
print(marks)

[100, 101, 34, 56, 76, 45, 30, 33, 33, [34, 67, 43], 34, 45, 65]

In [98]:
marks.remove(33)#remove all 3
print(marks)

[100, 101, 34, 56, 76, 45, 30, [34, 67, 43], 34, 45, 65]

In [100]:
marks.count(34)

2

max(marks)

In [153]:
# max(marks) min(marks) sum(marks) len(marks)

In [102]:
y = [1, 2] + [3, 4] # list concatenation
print(y)

[1, 2, 3, 4]

In [103]:
for i in y:
    print(i)

1
2
3
4

In [104]:
for i in range(0, 4):
    print(i, marks[i])
print("-"*20)


for mark in marks:
    print(mark)

0 100
1 101
2 34
3 56
--------------------
100
101
34
56
76
45
30
[34, 67, 43]
34
45
65

In [105]:
for i, mark in enumerate(marks):
    print(i, mark)

0 100
1 101
2 34
3 56
4 76
5 45
6 30
7 [34, 67, 43]
8 34
9 45
10 65

In [110]:
nums = [1, 5, 7, 9, 9]
sq = []
for i in nums:
    print(i**2)
print(sq)

for i in nums:
    sq.append(i**2)
print(sq)

1
25
49
81
81
[]
[1, 25, 49, 81, 81]

In [ ]:
# give ex of nested list

In [113]:
nums.sort()
print(nums)
nums.reverse()
print(nums)

[1, 5, 7, 9, 9]
[9, 9, 7, 5, 1]

In [114]:
#tuple
#mutable: can change, list
#immutable : cannot change , tuple
# We denote a tuple using ()
# Strings are immutable
# Tuple is a immutable version of a list

tup0 = ()
print(tup0)
tup1 = (1, 2, 3)
print(tup1)
# tup1[1]=9 error give

()
(1, 2, 3)

In [115]:
# for loop on a tuple
for element in (1, 2, 3):
    print(element)
# tuples are iterable

1
2
3

In [117]:
# list to tuple or vice-versa is a breeze
x = tuple([1, 2])
print(x)
y = list((1, 2))
print(y)

(1, 2)
[1, 2]

In [120]:
#dictionary is nothing but a key valew pairs
d={}
# print(type(d))
d1={"name":"vaishali","lname":"kashyap","learning":"python"}
print(d1["name"])

vaishali

In [130]:
phonebook = {
    'Anne': 12234,
    'Bob':3456,
    'Cathy':6789
}
print(phonebook)

phonebook_1 = dict([['Anne', 12234], ['Bob', 3456], ['Cathy', 6789]])
print(phonebook_1)
# print(phonebook.keys())
s=phonebook.keys()
print(type(s))
print(phonebook.values())
print(phonebook.get("Anne"))
print(phonebook["Anne"])

{'Anne': 12234, 'Bob': 3456, 'Cathy': 6789}
{'Anne': 12234, 'Bob': 3456, 'Cathy': 6789}
<class 'dict_keys'>
dict_values([12234, 3456, 6789])
12234
12234

In [122]:
#complex dict function
person2 = {
    'name': "Anant",
    'age' : 21,
    'address': {'city':'Noida', 'zip':201301, 'house-no': 28},
    'friends' : []
}

person3 = {
    'name': "Shivam",
    'age' : 20,
    'address': {'city':'Hyderabad', 'zip':110002, 'house-no': 39},
    'friends' : [person2]
}
person1 = {
    'name': "Shubham",
    'age' : 20,
    'address': {'city':'Delhi', 'zip':110001, 'house-no': 29},
    'friends' : [person2, person3]
}
print(person1)

{'name': 'Shubham', 'age': 20, 'address': {'city': 'Delhi', 'zip': 110001, 'house-no': 29}, 'friends': [{'name': 'Anant', 'age': 21, 'address': {'city': 'Noida', 'zip': 201301, 'house-no': 28}, 'friends': []}, {'name': 'Shivam', 'age': 20, 'address': {'city': 'Hyderabad', 'zip': 110002, 'house-no': 39}, 'friends': [{'name': 'Anant', 'age': 21, 'address': {'city': 'Noida', 'zip': 201301, 'house-no': 28}, 'friends': []}]}]}

In [144]:
#if we do
d1={"jhk":9,"jhi":"kh"}
# print(d1)
d2={"fjh":8,"hi":"khk"}
print(d2)
d2=d1 #both pointers points to same thing
print(d2)
del d1["jhk"]

{'fjh': 8, 'hi': 'khk'}
{'jhk': 9, 'jhi': 'kh'}

In [145]:
print(d2)

{'jhi': 'kh'}

In [151]:
print(d2.get('jhi'))
d2.update({"jikk":"khi"})
d2["jhiiiu"]=9
print(d2)

kh
{'jhi': 'kh', 'jikk': 'khi', 'jhiiiu': 9}

In [152]:
d2.items()

dict_items([('jhi', 'kh'), ('jikk', 'khi'), ('jhiiiu', 9)])

In [160]:
#for loop in dict
# roll_number_dict = {'prashant': 'CE0001', 'anant': 'CE0002','vaishali':'CE0003'}
lis=[['prashant',8],['gugu',7],['dtdy',4]]
dictt=dict(lis)#give only keys
for i in dictt:
    print(i)
for key,value in dictt.items():
    print(key,value)

prashant
gugu
dtdy
prashant 8
gugu 7
dtdy 4